
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.form-control{
	width: 350px;
}

.container .card{
  position: relative;
  background-color: #f8f9fa;
  border-style: none;
}

.container .card .face{
  width:100%;
  height: 200px;
  transition:.4s;
  
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
 
}

.container .card .face.face1 .content i{
  font-size: 3em;
  color: white;
}

.container .card .face.face1 .content h3{
  font-size: 1em;
  color: white;
  text-align: center;
}

.container .card .face.face1 .content a{
   transition: .5s;
}

.container .card .face.face2{
   position: relative;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);


}

.container .card .face.face2 .content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#333;
}

.container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke; 
}

#badan{
  min-height: 100%;
  /* height: 100%; */
}

.button {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #212121;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #787878;
  transition: all 50ms;
  width: 220px;
  text-decoration: none;
  position: relative;
}

.button:active {
  box-shadow: 0px 2px 0px #787878;
  position: relative;
  top: 2px;
}
.button:hover {
  color: white;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

legend {
  font-size: small;
  align-items: center;
  border-style: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.buttonP {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #212121;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #787878;
  transition: all 50ms;
  width: 100%;
  text-decoration: none;
  position: relative;
}

.buttonP:hover {
  color: white;
}
.buttonP:active {
  box-shadow: 0px 2px 0px #787878;
  position: relative;
  top: 2px;
}

.topT {
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
}


.cardP {
  border: none;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  margin-bottom: 30px;
}

.cardP, .rounded-circle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form {
  text-align: center;
}

.form-label {
  width: 100%;
  margin: auto;
}

.delp {
  padding: 10px;
}

.button {
  background: #212121;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 2px solid black;
}
.button:hover {
  background-color: #e0e0e0;
  color: #212121;
}

.buttonHP {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #212121;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #787878;
  transition: all 50ms;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  position: relative;
  line-height: 0;
}

.buttonHP:hover {
  color: white;
}
.buttonHP:active {
  box-shadow: 0px 2px 0px #787878;
  position: relative;
  top: 2px;
}

.buttonFP {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #212121;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #787878;
  transition: all 50ms;
  width: 100%;
  height: 47px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  position: relative;
  line-height: 0;
}
.buttonFP:hover {
  color: white;
}
.buttonFP:active {
  box-shadow: 0px 2px 0px #787878;
  position: relative;
  top: 2px;
}

table {
  border-collapse: collapse;
  width: 100%;

}
thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem 0rem;
}
thead td {
  font-weight: 700;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}
td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
tr td:last-child {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  
  legend {
    margin-top: 20px;
    padding: 10px;
  }
}

